# Dependências do Node (Frontend)
node_modules/
dist/
dist-ssr/
*.local

# Artefatos de build do Maven (Backend)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Configurações de IDEs e Editores
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Arquivos de sistema
.DS_Store
Thumbs.db
